$body-bg-color: #fff;
$bg-black: #292929;
$blue-first: #5A98D0;
$blue-second: #1F3F68;
$blue-bg: #316099;
$blue-border: #356EAD;
$gray: #8F8F8F;
$main-color: #000;

$main-font: Mulish;

$font-size: 16px;

$line-height: 24px;

$max-width: 1503;